<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Word Count - About</title>
    </head>
    <body>
        <nav>
            <div id="navigation">
                <h1 id="Logo">Word Count App!</h1>
                <div id="navitems">
                    <li>
                        <ul><a href="{% url 'home'%}">Home</a></ul>
                        <ul><a href="#">About</a></ul>
                    <li>
                </div>
            </div>
        </nav>
        <h1>About Me</h1>
        <h2>Hi I am Selwyn, I am a web Developer</h2>
        <p>With 3 years of experience of making websites,I am glad to inform you that I am open for orders to build your dream website. All you have to do is provide some information to me so I can build it while you just relax..</p>
    </body>
</html>